table {
    margin-top: 30px !important;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  tbody>tr{
    opacity: 0.7;
  }
  tbody>tr:hover {
    cursor: pointer;
    opacity: 1;
  }

  .paginator{
    width: 50%;
  margin: 0 auto;
  }

  